header {
    margin: 0;
    padding: 0;
}
nav {
    margin: 0;
    background-color: rgba(0, 87, 20, 0.5);
    padding: 1.5%;
}

nav ul {
    list-style: none;

    display: flex;
    justify-content: space-between;
}
.mx-2 {
    flex-grow: 2;
}
nav li {
    flex-grow: 1;
    text-align: left;
}
nav a {
    /* display: inline-block; */
    padding: 1%;
    padding-right: .5%;

    margin: 1%;
    margin-right: 0;
}
