nav ul {
    list-style: none;

    display: flex;
    justify-content: space-between;
}
.mx-2 {
    flex-grow: 2;
}
nav li {
    flex-grow: 1;
    text-align: left;
}
nav a {
    /* display: inline-block; */
    padding: 1%;
    padding-right: .5%;

    margin: 1%;
    margin-right: 0;
}
