footer ul {
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 5%;
}
/* li {
    width: 10%;
    height: 10%;
} */

footer a { 
    display: block;
}
footer img {
    height: 40px;
    width: 40px;
}