footer{
    padding: 1%;
}

footer ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 5%;
}

footer a { 
    display: block;
}
footer img {
    height: 40px;
    width: 40px;
    opacity: 1;
}
footer img:hover {
    opacity: .7;
}